.navbar-brand {
    font-size: xx-large;
}

#search .row {
    padding: 15px;
}

#current {
    line-height: 2.5;
    padding-left: 30px;
}

.forecast .col-lg {
    margin-right: 15px;
    font-size: small;
    line-height: 2;
}

.forecast .col-xs-12 {
    margin-bottom: 15px;
    font-size: small;
    line-height: 2;
}

.forecast-date {
    font-size: medium;
    font-weight: bold;
}

.green,
.yellow,
.red {
    border-radius: 5px;
    padding-left: 13px;
    padding-right: 13px;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
    color: white;
}